<h2> Países </h2>
<hr>

<ul class="list-group">

    <li class="list-group-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
    </li>

    <li class="list-group-item"
        routerLink="about"
        routerLinkActive="active">
        About
    </li>

    <li class="list-group-item"
        routerLink="contact"
        routerLinkActive="active">
        Contact
    </li>

    <li class="list-group-item"
        routerLink="countries/by-capital"
        routerLinkActive="active">
        Por Capital
    </li>

    <li class="list-group-item"
        routerLink="countries/by-country"
        routerLinkActive="active">
        Por País
    </li>

    <li class="list-group-item"
        routerLink="countries/by-region"
        routerLinkActive="active">
        Por Región
    </li>

    <li class="list-group-item"
        routerLink="countries/by/1"
        routerLinkActive="active">
        Por Id
    </li>

</ul>